<div class="page-signin">


    <div class="signin-body">
        <div class="container text-center">
            <div class="padding">
                <h1>Westerdals Mobillab</h1>
            </div>
            <div class="form-container">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Brukernavn"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Passord"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <a href="#/" class="btn btn-line-warning btn-lg btn-block">Logg inn</a>
                        </div
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>